<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
    
</head>
<body>
<div class="container">
    <h1>Добро пожаловать!</h1>
    <div class="button-group">
        <form method="get" action="/calc">
            <input type="submit" value="Калькулятор" class="btn btn-calc">
        </form>

        <form method="get" action="/converter">
            <input type="submit" value="Конвертер валют" class="btn btn-converter">
        </form>
    </div>
</div>
</body>
</html>